/* Réinitialisation des styles par défaut */
* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

/* En-tête */
header {
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 24px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav li {
  margin-bottom: 10px;
}

.sidenav a {
  display: block;
  padding: 8px 16px;
  font-size: 18px;
  color: #888888;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000;
}

.close {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 28px;
  color: #888888;
  transition: 0.3s;
}

.close:hover {
  color: #000000;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.burger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000000;
  transition: 0.3s;
}

/* Présentation */
#presentation {
  padding-top: 100px;
  text-align: center;
  background-color: #ffffff;
}

#presentation h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#presentation p {
  font-size: 18px;
  margin-bottom: 40px;
}

.links {
  margin-bottom: 40px;
}

.links a {
  margin-right: 10px;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.links a:hover {
  border-bottom: 2px solid #000000;
}

.info {
  margin-bottom: 40px;
}

.info p {
  margin-bottom: 10px;
}

/* Curriculum Vitae */
#cv {
  padding-top: 100px;
  text-align: center;
  background-color: #f8f8f8;
}

#cv h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#cvImage {
  max-width: 100%;
  height: auto;
}

/* Portfolio */
#portfolio {
  padding-top: 100px;
  text-align: center;
  background-color: #ffffff;
}

#portfolio h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 40px;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  color: #888888;
}

/* Contact */
#contact {
  padding-top: 100px;
  text-align: center;
  background-color: #f8f8f8;
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#contact p {
  font-size: 18px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #333333;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
  color: #888888;
  font-size: 14px;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 9999;
}

#loader-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#loader-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #fff;
}

.phrase{
  font-size: 0px;
}
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/* .background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3E1E68;
  overflow: hidden;
} */

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #583C87;
  top: 7%;
  left: 72%;
  animation-duration: 55s;
  animation-delay: -45s;
  transform-origin: -4vw -1vh;
  box-shadow: 40vmin 0 5.4408587666083825vmin currentColor;
}
.background span:nth-child(1) {
  color: #FFACAC;
  top: 10%;
  left: 98%;
  animation-duration: 48s;
  animation-delay: -7s;
  transform-origin: -1vw 11vh;
  box-shadow: 40vmin 0 5.349820444368384vmin currentColor;
}
.background span:nth-child(2) {
  color: #583C87;
  top: 5%;
  left: 73%;
  animation-duration: 19s;
  animation-delay: -29s;
  transform-origin: -5vw 13vh;
  box-shadow: 40vmin 0 5.422431206856204vmin currentColor;
}
.background span:nth-child(3) {
  color: #FFACAC;
  top: 97%;
  left: 1%;
  animation-duration: 33s;
  animation-delay: -20s;
  transform-origin: 5vw -20vh;
  box-shadow: -40vmin 0 5.892999696296833vmin currentColor;
}
.background span:nth-child(4) {
  color: #E45A84;
  top: 26%;
  left: 3%;
  animation-duration: 10s;
  animation-delay: -32s;
  transform-origin: 1vw -20vh;
  box-shadow: 40vmin 0 5.817975793776704vmin currentColor;
}
.background span:nth-child(5) {
  color: #FFACAC;
  top: 37%;
  left: 11%;
  animation-duration: 53s;
  animation-delay: -26s;
  transform-origin: -5vw 7vh;
  box-shadow: 40vmin 0 5.1598344941744365vmin currentColor;
}
.background span:nth-child(6) {
  color: #583C87;
  top: 68%;
  left: 98%;
  animation-duration: 45s;
  animation-delay: -32s;
  transform-origin: -14vw 15vh;
  box-shadow: -40vmin 0 5.264188292657934vmin currentColor;
}
.background span:nth-child(7) {
  color: #583C87;
  top: 55%;
  left: 76%;
  animation-duration: 20s;
  animation-delay: -19s;
  transform-origin: -4vw 0vh;
  box-shadow: -40vmin 0 5.936437483977203vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 83%;
  left: 17%;
  animation-duration: 14s;
  animation-delay: -37s;
  transform-origin: 0vw 14vh;
  box-shadow: -40vmin 0 5.9410527116055505vmin currentColor;
}
.background span:nth-child(9) {
  color: #FFACAC;
  top: 77%;
  left: 68%;
  animation-duration: 18s;
  animation-delay: -24s;
  transform-origin: 25vw 4vh;
  box-shadow: -40vmin 0 5.739399411013652vmin currentColor;
}
.background span:nth-child(10) {
  color: #FFACAC;
  top: 94%;
  left: 86%;
  animation-duration: 9s;
  animation-delay: -45s;
  transform-origin: 3vw -4vh;
  box-shadow: 40vmin 0 5.61696594282006vmin currentColor;
}
.background span:nth-child(11) {
  color: #E45A84;
  top: 21%;
  left: 10%;
  animation-duration: 47s;
  animation-delay: -16s;
  transform-origin: -14vw -8vh;
  box-shadow: 40vmin 0 5.214102663591549vmin currentColor;
}
.background span:nth-child(12) {
  color: #FFACAC;
  top: 78%;
  left: 3%;
  animation-duration: 33s;
  animation-delay: -36s;
  transform-origin: 0vw -19vh;
  box-shadow: 40vmin 0 5.342197203416673vmin currentColor;
}
.background span:nth-child(13) {
  color: #FFACAC;
  top: 30%;
  left: 76%;
  animation-duration: 41s;
  animation-delay: -8s;
  transform-origin: 13vw 16vh;
  box-shadow: -40vmin 0 5.048089981582751vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 87%;
  left: 68%;
  animation-duration: 54s;
  animation-delay: -28s;
  transform-origin: 25vw 6vh;
  box-shadow: -40vmin 0 5.553071132260554vmin currentColor;
}
.background span:nth-child(15) {
  color: #FFACAC;
  top: 84%;
  left: 79%;
  animation-duration: 53s;
  animation-delay: -34s;
  transform-origin: -2vw -5vh;
  box-shadow: -40vmin 0 5.092090133437716vmin currentColor;
}
.background span:nth-child(16) {
  color: #FFACAC;
  top: 27%;
  left: 93%;
  animation-duration: 21s;
  animation-delay: -34s;
  transform-origin: 21vw -21vh;
  box-shadow: -40vmin 0 5.629277030959014vmin currentColor;
}
.background span:nth-child(17) {
  color: #E45A84;
  top: 95%;
  left: 25%;
  animation-duration: 28s;
  animation-delay: -47s;
  transform-origin: -18vw -22vh;
  box-shadow: -40vmin 0 5.946466310610666vmin currentColor;
}
.background span:nth-child(18) {
  color: #FFACAC;
  top: 41%;
  left: 55%;
  animation-duration: 24s;
  animation-delay: -33s;
  transform-origin: 0vw 1vh;
  box-shadow: -40vmin 0 5.818756600906791vmin currentColor;
}
.background span:nth-child(19) {
  color: #583C87;
  top: 40%;
  left: 63%;
  animation-duration: 47s;
  animation-delay: -45s;
  transform-origin: -5vw 5vh;
  box-shadow: -40vmin 0 5.734480056254011vmin currentColor;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* .button:hover {
  background-color: #0056b3;
} */
/* Media queries pour les appareils de petite taille (téléphones) */

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  #loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #loader-video {
    max-width: 100%;
    height: auto;
  }

  #loader-progress {
    width: 80%;
    margin: 20px auto;
  }

  header {
    padding: 10px;
    background-color: #333;
    color: #fff;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  .sidenav {
    width: 200px;
    padding: 10px;
    background-color: #f2f2f2;
    position: fixed;
    left: -200px;
    top: 0;
    bottom: 0;
    transition: 0.3s;
  }

  .sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidenav li {
    margin-bottom: 10px;
  }

  .sidenav a {
    color: #333;
    text-decoration: none;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #fff;
    background-color: #333;
  }

  .sidenav .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
  }

  #openBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  /* Ajoutez ici d'autres styles spécifiques aux téléphones */
  /* Exemple : Réduire la taille des images dans la section portfolio */
  .project img {
    max-width: 80%;
    height: auto;
  }
}


  /* Ajoutez ici les styles spécifiques aux petits appareils */
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}